body{
	background: url('../images/perro2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

@media(max-width: 960px){
	body{
		background: url('../images/perro3.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
}